<%- include('../header'); %>
    <header>
        <h2>Ntalk</h2>
        <form action="/logout" method="post">
            <button type="submit">Sair</button>
        </form>
    </header>
    <section>
        <form action="/chat" method="post">
            <input type="text" name="sala" placeholder="Entre em uma sala">
            <button type="submit">Entrar</button>
        </form>
        <div id="chat-messages"></div>
        <form id="chat-form">
            <input type="text" id="chat-message" placeholder="Sua mensagem">
            <button type="submit">Enviar</button>
        </form>
    </section>
    <%- include('../exit'); %>
        <%- include('../footer'); %>