<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ntalk - Agenda de contatos</title>
</head>

<body>
    <h1>Ntalk</h1>
    <h4>Bem Vindo</h4>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="nome" placeholder="Seu nome"><br>
            <input type="email" name="email" placeholder="Seu email"> <br>
            <button type="submit">Entrar</button>
        </form>
    </section>
    <fotter>
        <small> Ntalk - agenda de contatos</small>
    </fotter>
</body>

</html>