<%include ../header%>
    <header>
        <n2> Ntalk - Agenda de contatos </n2>
    </header>
    <section>
        <p>Bem-Vindo</p>
    </section>
    <%include ../exit%>
        <%include ../footer%>